USE [Restaurant]
GO
/****** Object:  Table [dbo].[txMessagesRaw]    Script Date: 08/28/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txMessagesRaw](
	[TransNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txMessagesDet]    Script Date: 08/28/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txMessagesDet](
	[TransNo] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionNo] [nvarchar](50) NULL,
	[BillDate] [datetime] NULL,
	[BillNo] [nvarchar](50) NULL,
	[BillAmount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txMessages]    Script Date: 08/28/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txMessages](
	[TransNo] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionNo] [nvarchar](100) NULL,
	[MobileNo] [nvarchar](500) NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[Amount] [float] NULL,
	[Charges] [float] NULL,
	[AmountUsed] [float] NULL,
	[SenderName] [nvarchar](500) NULL,
	[RawMessage] [nvarchar](3000) NULL,
	[Status] [nvarchar](50) NULL,
	[Amount1] [float] NULL,
	[BillNo] [nvarchar](500) NULL,
	[CashierName] [nvarchar](50) NULL,
	[NetworkName] [nvarchar](50) NULL,
	[StatusDate] [date] NULL,
	[StatusTime] [time](7) NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txGSMSettings]    Script Date: 08/28/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txGSMSettings](
	[CardNo] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[PortNo] [nvarchar](50) NULL,
	[MasterTill] [nvarchar](50) NULL,
	[CheckMessages] [nvarchar](50) NULL,
	[PrintReceipt] [nvarchar](50) NULL,
	[PrinterName] [nvarchar](50) NULL,
	[PrinterDriver] [nvarchar](50) NULL,
	[PrinterPort] [nvarchar](50) NULL,
	[Copies] [bigint] NULL,
	[Entity] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Default [DF_txGSMSettings_CheckMessages]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txGSMSettings] ADD  CONSTRAINT [DF_txGSMSettings_CheckMessages]  DEFAULT ((0)) FOR [CheckMessages]
GO
/****** Object:  Default [DF_txMessages_Amount]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessages] ADD  CONSTRAINT [DF_txMessages_Amount]  DEFAULT ((0)) FOR [Amount]
GO
/****** Object:  Default [DF_txMessages_Charges]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessages] ADD  CONSTRAINT [DF_txMessages_Charges]  DEFAULT ((0)) FOR [Charges]
GO
/****** Object:  Default [DF_txMessages_AmountUsed]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessages] ADD  CONSTRAINT [DF_txMessages_AmountUsed]  DEFAULT ((0)) FOR [AmountUsed]
GO
/****** Object:  Default [DF_txMessages_Status]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessages] ADD  CONSTRAINT [DF_txMessages_Status]  DEFAULT (N'Pending') FOR [Status]
GO
/****** Object:  Default [DF_txMessages_Amount1]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessages] ADD  CONSTRAINT [DF_txMessages_Amount1]  DEFAULT ((0)) FOR [Amount1]
GO
/****** Object:  Default [DF_txMessageDet_BillAmount]    Script Date: 08/28/2026 17:12:30 ******/
ALTER TABLE [dbo].[txMessagesDet] ADD  CONSTRAINT [DF_txMessageDet_BillAmount]  DEFAULT ((0)) FOR [BillAmount]
GO
